header.fixed__nav
  section.header
    .container-fluid
      .row 
        .col-md-2.col-sm-3.col-6.d-lg-none.d-md-flex
          .menu--burger
            .menu--burger--item
            .menu--burger--item
            .menu--burger--item
        .col-xl-1.col-lg-1.col-md-6.col-sm-6.col-6.flex--r--c.column
          a.img-logo.img-fluid(href="/index.html")
            img(
              src="/Src/Images/logo_en.png",
              alt="website logo",
              width="",
              height=""
            )

        .col-xl-8.col-md-4.col-3.d-none.d-xl-block.column.flex--r--c
          nav.navbar.d-none.d-lg-block
            ul.parent__menu.d_flex 
              each val, index in ['صفحه اصلی', 'محصولات', 'مشتریان' , 'مشاوران' , 'سوالات متداول','مقالات','درباره ما' , 'تماس با ما ']
                li.link
                  a.parent__menu__item(href="#")= val

        .col-xl-3.col-lg-3.col-md-4.col-sm-3.d-none.d-sm-flex.flex--r--c.column
          include ./_accessible_menu
