header.fixed__nav
  section.panel__header 
    .container-fluid 
      .row 
        .col-md-2.col-sm-6.col-6.d-lg-none.d-md-flex
          .menu--burger
            .menu--burger--item
            .menu--burger--item
            .menu--burger--item
        .col-xl-2.col-lg-1.col-md-6.col-sm-6.col-6.flex--r--c.column
          a.img--logo.img-fluid(href="/index.html")
            img(
              src="dist/Images/logo_en.png",
              alt="website logo",
              width="",
              height=""
            )
        .col-xl-6.col-md-4.col-3.d-none.d-xl-block.flex--r--c
          .input--box--search
            input.input--box--search__box(
              type="text",
              name="",
              placeholder="چیزی در اینجا بنویسید مثلا: خرید..."
            )
            a.input--box--search__link(href="")
              img.input--box--search__link__icon.img-fluid(
                src="dist/Images/Search.png",
                alt="search--icon"
              )
        .col-xl-4.col-lg-3.col-md-4.d-none.d-md-flex.flex--r--c.column
          .profile--accessibility
            .profile--accessibility--notification
              img.profile--accessibility--notification__ico(
                src="dist/Images/Notification.png",
                alt="user-notification"
              )
            .profile--accessibility--username 
              p.profile--accessibility--username__text علی پزشکیان
              img.profile--accessibility--username__ico(
                src="dist/Images/Down 2.svg",
                alt=""
              )
            .profile--accessibility--wrapper
              img.profile--accessibility--wrapper--avatar(
                src="dist/Images/avatar.png",
                alt="avatar"
              )
