extends src/Partials/_layout
block headstyle
  // The initial part of the website
  link(
    rel="stylesheet",
    type="text/css",
    href="./Src/Styles/panel/profile_user&consulate.css"
  )
  link(
    rel="stylesheet",
    type="text/css",
    href="dist/Styles/panel/profile_user&consulate.css"
  )
block header
  include src/Partials/header/panel_header
  // The middle part of the website
  include src/Partials/main_element/_panel_menu
block content
  include src/Partials/main_element/_consultant_panel

block footer
  // Attached links & Script Which must be loaded at the end
block script
  script(src="dist/Scripts/profile_user&consulate.js") 
  
