extends src/Partials/_layout

block headstyle
  // The initial part of the website
block header
  // The middle part of the website
block content
  - let title = "فرم ثبت نام کاربران";
  - let discription = "کاربر گرامی لطفا اطلاعات خواسته شده را در فیلد های مربوطه پر نمائید. ";
  - let ifsignup__one = "حساب کاربری دارید؟";
  - let ifsignup__two = "ورود";
  #login_form
    a.logo__link.d-flex.justify-content-center(href="javascript:void(0)") 
      img.logo__link__img(
        src="/Src/Images/logo_en.png",
        alt="website logo",
        width="",
        height=""
      )
    form.login--page(action="javascript:void(0)", method="post")
      .login--page--title
        h3.login--page--title__text= title
        p.login--page--title__discription= discription

      .login--page--input
        input.login--page--input__number#number(
          type="text",
          name="number",
          minlength="1",
          maxlength="11"
        )
        label#lable.login--page--input__lable(for="number") شماره تلفن همراه

        button.login--page--button__send(type="submit") ثبت اطلاعات

      .login--page--ifsignup
        span.login--page--ifsignup__one= ifsignup__one
        a(href="javascript:void(0)").login--page--ifsignup__two= ifsignup__two




block footer
  // Attached links & Script Which must be loaded at the end
block script
