- var text = "دسته بندی";
- var img = "dist/Images/Category.png";
- var see = "";
- var arrow_left = "";

section.category 
  .container-fluid 
    .row
      .col-12
        include _headline.pug
        .swiper#category-slider
          .swiper-wrapper 
            .swiper-slide
              figure.item__box
                figcaption.item__box__caption
                    .item__box__caption__icon--one
                         img(
                         src="/dist/Images/(Traced).png",
                         alt="",
                         width="fit-content"
                         ) 
                    a.item__box__caption_content(href="javascript:void(0)") 
                         p.item__box__caption__content--text ارائه مشاوره آنلاین در زمینه ...
                    .item__box__caption__servises
                         button.btn.item__box__caption__servises__button مشاهده خدمات
                    
                         
                //- svg.box(width='197' height='142' viewbox='0 0 197 142' fill='none' xmlns='http://www.w3.org/2000/svg')       
                //-      path(d='M98.995 0.5C108.293 0.5 116.577 4.89038 121.926 11.7353C125.327 16.0889 129.189 20.7715 133.599 24.3652C138.012 27.9611 143.013 30.5 148.693 30.5H187C192.247 30.5 196.5 34.7533 196.5 40V132C196.5 137.247 192.247 141.5 187 141.5H10C4.75329 141.5 0.5 137.247 0.5 132V40C0.5 34.7533 4.75329 30.5 10 30.5H49.2965C54.9765 30.5 59.9784 27.9611 64.3911 24.3652C68.801 20.7715 72.6626 16.0889 76.0644 11.7353C81.4132 4.89038 89.6971 0.5 98.995 0.5Z' stroke='#E1E1E1')

          .swiper-button-prev
            img.left(
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACvSURBVHgB7ZIxDoIwFIZ/1ANwhCZK0niKTuKoXETc3OAK3sAjsOpUNm8AAyY9gifwSSNh9dEQwtBvaN7w9X1DC3g8k6DiJFX7JIcDC7ZJlLlElhzJvKqnWEs75iLaBqapNJiwAr9IXbpE2IE+spFhO15EJEvT1ObfHf4bdOh7cbYtfHDi+IMDPQFCjjY40P0kAcINY2OXq/hIanfIMDazXb5iWYR3e6T6UVzh8UzOF19KO0YDr1rcAAAAAElFTkSuQmCC",
              alt="arrow-right"
            )
          .swiper-button-next
            img.right(
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC7SURBVHgB7dSxDcIwEAXQbxiAFSwRRMQElK4wpckCMAIlHWGCiE2oqUIHE5AiSB4BOiqMoUCi4s4knV9hubDuF6dvIIr+1UUApbOlTIZje6mOv952wKSmWQ64Ag49NO01XOmZUxOzRtNaHm4WocNpO3Bi7k9b7ncbMBGXLK4IRAsQj60/pdKmABOpB7aurOynPkis5GAkbH0uQUQumi/V4R0C5JwQVpO/QpL0Rmky+6v4hAjc/f2EKGrdE7vrQOvOKnCuAAAAAElFTkSuQmCC",
              alt="arrow-left"
            )
